name: Build with PyInstaller and Release
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-and-release:
    permissions:
      contents: write

    strategy:
      matrix:
        os: [windows]

    runs-on: ${{ matrix.os }}-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Build frontend
        working-directory: ./frontend-vuetify
        run: |
          npm ci
          npm run build

      - name: Set up Python
        uses: actions/setup-python@v6
        # 使用 .python-version 文件中指定的 Python 版本

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: |
          uv sync --no-dev --group build

      - name: Build with PyInstaller
        run: |
          uv run pyinstaller main.spec

      - name: Add alert file
        run: |
          New-Item -Path dist/endfield-essence-recognizer/ -Name "使用前请先解压全部文件！.txt" -ItemType "file"

      - name: Zip the built files
        shell: pwsh
        run: |
          cd dist
          Compress-Archive -Path "endfield-essence-recognizer/*" -DestinationPath "endfield-essence-recognizer-${{ github.ref_name }}-${{ matrix.os }}.zip"

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/endfield-essence-recognizer-${{ github.ref_name }}-${{ matrix.os }}.zip
          generate_release_notes: true
